* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

body {
    padding: 32px;
    margin: auto;
    width: 1200px;
    background-color: #040720;
    color: white;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

h1 {
    font-size: 40px;
}

button {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 12px 28px;
    background-color: #27feca;
    font-weight: bold;
    color: black;
}

button:hover {
    background-color: transparent;
    border: 1px solid #27feca;
    color: #27feca;
    transition-duration: .2s;
}

button.btn-light {
    background-color: transparent;
    border: 1px solid #27feca;
    color: #27feca;
}

button.btn-light:hover {
    border: 1px solid transparent;
    background-color: #27feca;
    color: black;
    transition-duration: .2s;
}


button.btn-icon {
    padding: 0px !important;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    border: none;
}

button.btn-icon:hover {
    border: none;
}

button.btn-icon > i {
    display: block;
}

header {
    display: flex;
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

header #logo img{
    height: 48px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    display: block;
    padding: 0px 24px;
}

main {
    position: relative;
}

main #primeirachamada {
    padding: 120px 0px;
    width: 450px;
}

main #primeirachamada img {
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
}

main #primeirachamada>* {
    margin-bottom: 32px;
}

main #segundachamada {
    padding-bottom: 32px;

}

main #segundachamada>* {
    text-align: center;
    margin: 32px auto;
}

main #segundachamada p:first-child {
    width: 500px;
}

#expertises {
    padding: 40px;
    background-color: #0a0e2d;
    border-radius: 16px;
}

#expertises>div:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#expertises .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#expertises .card-expertise {
    min-width: 200px;
    flex-grow: 1;
    background-color: #0d113d;
    padding: 16px;
    border-radius: 16px;
}

#expertises .card-expertise>* {
    display: block;
    padding-bottom: 20px;
    width: 200px;
}

#expertises .card-expertise p {
    padding-bottom: 0;
}

#expertises .card-expertise i {
    color: #27feca;
}

#cases {
    padding: 40px;
}

#cases h2 {
    flex-grow: 1;
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

#cases #cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#cases .card-case {
    padding: 20px;
    width: 250px;
    text-align: center;
}

#cases .card-case p {
    padding-bottom: 20px;
}

#cases .card-case p em {
    color: #27feca;
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

#cases .card-case button {
    width: 100%;
}

#clientes {
    margin: 0px -64px;
    padding: 64px 64px;
    background-color: #0a0e2d;
}

#clientes h2 {
    text-align: center;
}

#clientes ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 64px 0px;
    list-style-type: none;
}

#clientes ul li img {
    object-fit: contain;
    width: 120px;
}

#contato {
    display: flex;
    padding: 40px;
}

#contato > div {
    width: 50%;
}

#contato > div:first-child {
    padding-right: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contato div > p {
    display: inline-block;
    width: 300px;
    padding-bottom: 0px;
}

#contato div > span {
    display: block;
    padding-bottom: 0px;
}

#contato div > img {
    display: block;
    object-fit: contain;
    height: 100px;
    margin-left: auto;
}

#contato form input, #contato form textarea {
    display: block;
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 12px;
    background-color: #1a1e3d;
    width: 100%;
}

#contato aside form input::placeholder, #contato aside form textarea::placeholder {
    color: #5a5e7d;
}