* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    padding: 32px 64px;
    background-color: #040720;
    color: white;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

h1 {
    font-size: 40px;
}

button {
    border: none;
    border-radius: 6px;
    padding: 12px 28px;
    background-color: #27feca;
    font-weight: bold;
}

button.btn-light {
    background-color: transparent;
    border: 1px solid #27feca;
    color: #27feca;
}

header {
    display: flex;
    padding: 32px 0px;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

header #logo {
    font-size: 24px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    display: block;
    padding: 0px 24px;
}

main #primeirachamada {
    padding: 120px 0px;
    width: 450px;
}

main #primeirachamada > * {
    margin-bottom: 20px;
}

main #segundachamada {
    padding: auto;    
}

main #segundachamada > * {
    text-align: center;
    margin: 20px auto;
}

main #segundachamada p:first-child {
    width: 500px;
}

#expertises {
    padding: 40px;
    background-color: #0a0e2d;
    border-radius: 16px;
}

#expertises > div:first-child {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#expertises .cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

#expertises .card-expertise {
    width: 220px;
    height: 180px;
    background-color: #0d113d;
    padding: 16px;
    margin: 5px;
    border-radius: 16px;
}

#expertises .card-expertise > * {
    display: block;
    padding-bottom: 20px;
    min-width: 200px;
}

#expertises .card-expertise p {
    padding-bottom: 0;
}

#expertises .card-expertise i {
    color: #27feca;
}

#cases {
    padding: 40px;
    display: flex;
}

#cases h3 {
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

#casess .card-case {
    text-align: center;
}